@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #668586;
    color: #fff;
    text-align: center;
    background-image: url(dog.jpg);
    background-position: right;
    background-size: 200px;
    background-repeat: no-repeat;
}

table {
    margin: 50px 30px;
    width: 80%;
}

thead, tfoot {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    font-size: 18px;
    background-color: #10434C;
}

.top-left {
    border-top-left-radius: 20px;
}
.top-right {
    border-top-right-radius: 20px;
}
.bottom-left {
    border-bottom-left-radius: 20px;
}
.bottom-right {
    border-bottom-right-radius: 20px;
}

table, td, th {
    border-collapse: collapse;
    padding: 15px;
}

tbody {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #4D8C6E;
}

tbody tr:nth-child(odd) {
    background-color: #78BC8D;
}

.top-left, .top-right, .ref, .que {
    width: 10%;
}
.hace {
    width: 40%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: right;
    width: 80%;
    letter-spacing: 3px; 
}
span {
    letter-spacing: 12px;
}

